<div class="title">
  <h1 class="fw-bold">Contact Me.</h1>
</div>

<div class="content mt-5">
  <p>Get in touch with me directly on <span class="fw-bold">jsb.sorrel@gmail.com</span></p>

  <div class="mt-2">
    <form >

      <div class="form-group">
        <input type="text" class="form-control mb-3" placeholder="Name" name="name">
        <input type="email" class="form-control mb-3" placeholder="Email" name="email">
        <textarea class="form-control mb-3" rows="6" placeholder="Message"></textarea>
      </div>
    </form>

    <button class="btn-submit">Send message</button>
  </div>
  
</div>

<div class="link mt-4 fit-width" routerLink="/projects">
  <label class="me-3">Back to home<i
      class="fa-solid fa-arrow-right fa-beat-fade fa-lg animated-arrow"></i></label>
</div>