<div class="title">
  <h1 class="fw-bold">About Me.</h1>
</div>

<div class="content">
  <ul class="timeline mt-5">
    <h4 class="fw-bold border-bottom fit-width">Education</h4>
    <li class="mt-2 mx-3">
      <div class="d-flex justify-content-between">
        <div>
          <p class="fw-bold">Bachelor of Science in Information Technology</p>
          <p>Batangas State University</p>
          <p class="fst-italic">Cum Laude</p>
        </div>
        <div>
          <p class="fw-bold float-right">2019-2023</p>
        </div>
      </div>
    </li>

    <h4 class="fw-bold border-bottom fit-width mt-3">Experience</h4>
    <li class="mt-2 mx-3">
      <div class="d-flex justify-content-between">
        <div>
          <p class="fw-bold">Software Engineer</p>
          <p>Create Batangas IT Consultancy</p>
        </div>
        <div>
          <p class="fw-bold float-right">Feb 2023 - May 2023</p>
        </div>
      </div>
    </li>

    <h4 class="fw-bold border-bottom fit-width mt-3">Skills</h4>
    <div class="mt-2 mx-3 ">
      <div class="card-container">
        <div class="card">
          <div class="row g-0">
            <div class="col-sm-4">
              <div class="card-icon">
                <img
                  src="assets/icons/angular.svg"
                  alt="Angular">
              </div>
            </div>
            <div class="col-sm-8 d-flex align-items-center ">
              <p class="card-text">Angular</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row g-0">
            <div class="col-sm-4">
              <div class="card-icon">
                <img
                  src="assets/icons/typescript.png"
                  alt="TypeScript">
              </div>
            </div>
            <div class="col-sm-8 d-flex align-items-center ">
              <p class="card-text">TypeScript</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row g-0">
            <div class="col-sm-4">
              <div class="card-icon">
                <img
                  src="assets/icons/javascript.jpeg"
                  alt="JavaScript">
              </div>
            </div>
            <div class="col-sm-8 d-flex align-items-center ">
              <p class="card-text">JavaScript</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row g-0">
            <div class="col-sm-4">
              <div class="card-icon">
                <img
                  src="assets/icons/sql.webp"
                  alt="SQL">
              </div>
            </div>
            <div class="col-sm-8 d-flex align-items-center ">
              <p class="card-text">SQL</p>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="row g-0">
            <div class="col-sm-4">
              <div class="card-icon">
                <img
                  src="assets/icons/php.png"
                  alt="PHP">
              </div>
            </div>
            <div class="col-sm-8 d-flex align-items-center ">
              <p class="card-text">PHP</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row g-0">
            <div class="col-sm-4">
              <div class="card-icon">
                <img
                  src="assets/icons/css3.png"
                  alt="CSS">
              </div>
            </div>
            <div class="col-sm-8 d-flex align-items-center ">
              <p class="card-text">CSS</p>
            </div>
          </div>
        </div>



      </div>
    </div>

  </ul>
</div>

<div class="link mt-4 fit-width" routerLink="/projects">
  <label class="me-3">Continue to My Projects<i
      class="fa-solid fa-arrow-right fa-beat-fade fa-lg animated-arrow"></i></label>
</div>