.timeline {
  list-style: none;
  padding: 0;
  p{
    line-height: 1;
  }
  li {
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
  }
  li::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    background-color: transparent;
  }
  li .content {
    margin-left: 20px;
  }
}


.column-container{
  max-width: 720px;
  margin: 24px auto 48px auto;
  // column-count: 2;

}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 180px));
  grid-gap: 1rem;
  align-items: center;
// justify-content: center;
}

.card {
  display: flex;
  overflow: hidden;
  padding: 0;
  backdrop-filter: blur(2px) saturate(180%);
  height: 64px;
  border : var(--border-color);
  background: transparent;
}

.card-text {
  display: flex;
  align-items: center;
  font-size: 1rem;

  p {
    color: var(--text-color);
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
  }
}

.card-icon {
  display: flex;
  align-items: center;
  height: 4rem;
  // width: 4rem;
  margin-left: 22px;
}

.card-icon img {
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 956px) {
  .card-container {
    grid-template-columns: unset;
  }
}

@media screen and (max-width: 400px) {
  
}