<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over" position="end">
    <mat-toolbar>Menu</mat-toolbar>

    <app-sidenav></app-sidenav>
    <!-- <mat-nav-list>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list> -->
  </mat-sidenav>
  <mat-sidenav-content class="fade-in">
    <mat-toolbar>
      <mat-toolbar-row class="p-custom" *ngIf="(isHandset$ | async) === false">
        <div class="img-icon link" routerLink="/"></div>
        <span class="example-spacer"></span>
        <div class="action-container">
          <button class="btn-custom me-3" routerLink="/about">About</button>
          <button class="btn-custom me-3" routerLink="/projects">Projects</button>
          <button class="btn-custom me-3" routerLink="/contact">Contact</button>
          <button (click)="toogleDarkTheme()"><span class="material-symbols-outlined d-flex align-items-center">
              contrast
            </span></button>
        </div>
      </mat-toolbar-row>

      <div class="img-icon link" *ngIf="(isHandset$ | async) === true" routerLink="/"></div>
      <span class="example-spacer" *ngIf="(isHandset$ | async) === true"></span>

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) === true"><mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>
    <!-- Add Content Here -->
    <app-background-animation [style.height]="backgroundHeight"
      style="position: fixed; top: 0; width: 100vw; z-index: -1;">
    </app-background-animation>

    <div class="container d-flex justify-content-center align-items-center">
      <div class="container-fluid">
        <router-outlet></router-outlet>

        <footer class="mt-5 mb-5">
          <app-media-links></app-media-links>
        </footer>
      </div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #projectDrawer class="sidenav" style="background: transparent" fixedInViewport mode="over" >

    <app-project-details></app-project-details>

  </mat-sidenav>
</mat-sidenav-container>