<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="over" position="end">
    <mat-toolbar class="p-custom">
      <button class="none-button d-flex align-items-center" type="button" mat-icon-button (click)="drawer.toggle()">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </button>
      <span class="example-spacer" ></span>

      <button type="button" class="none-button d-flex align-items-center" mat-icon-button (click)="toggleDarkTheme()"
       >
       <span class="material-symbols-outlined">
        contrast
      </span>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/projects">Projects</a>
      <a mat-list-item routerLink="/contact">Contact</a>
      <!-- <a mat-list-item (click)="toggleDarkTheme()" class="d-flex">
        Toggle {{mode}} Mode
      </a> -->
    </mat-nav-list> 
  </mat-sidenav>
  
  <mat-sidenav-content class="fade-in">
    <mat-toolbar>
      <mat-toolbar-row class="p-custom" *ngIf="(isHandset$ | async) === false">
        <div class="img-icon link" routerLink="/"></div>
        <span class="example-spacer"></span>
        <div class="action-container">
          <button class="btn-custom me-3" routerLink="/about">About</button>
          <button class="btn-custom me-3" routerLink="/projects">Projects</button>
          <button class="btn-custom me-3" routerLink="/contact">Contact</button>
          <button (click)="toggleDarkTheme()"><span class="material-symbols-outlined d-flex align-items-center">
              contrast
            </span></button>
        </div>
      </mat-toolbar-row>

      <div class="img-icon link" *ngIf="(isHandset$ | async) === true" routerLink="/"></div>
      <span class="example-spacer" *ngIf="(isHandset$ | async) === true"></span>

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) === true"><mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>
    <!-- Add Content Here -->
    <app-background-animation [style.height]="backgroundHeight"
      style="position: fixed; top: 0; width: 100vw; z-index: -1;">
    </app-background-animation>

    <div class="container d-flex justify-content-center align-items-center" [@routeAnimations]="getRouteAnimationData()">
      <div class="container-fluid" >
        <router-outlet></router-outlet>
       
        <footer class="mt-5 mb-5">
          <app-media-links></app-media-links>
        </footer>
      </div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #projectDrawer class="sidenav" fixedInViewport mode="over" >
    <div class="d-flex justify-content-between header">
      <button class="none-button" type="button" mat-icon-button (click)="projectDrawer.toggle()">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </button>
    </div>
    <app-project-details></app-project-details>

  </mat-sidenav>
</mat-sidenav-container>