.sidenav-container {
  height: 100vh;
}

.sidenav {
  min-width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}
.mat-toolbar{
  background-color: transparent;
}

.example-spacer {
  flex: 1 1 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.fade-in {
  animation: fadeIn 1.2s ease-out; 
}
