<div class="title">
  <h1 class="fw-bold">
    <span class="greetings">HI. </span>
    <span class="name">I'M <br>JAMAICA SORREL</span>
  </h1>
</div>


<div class="content">
  <p>I am a full stack web developer with experience in Angular, JavaScript (Node.js), PHP, and HTML/CSS. I am currently
    honing my skills in various projects</p>
  <p>With a strong foundation in Angular, I craft dynamic and responsive front-end interfaces, while my proficiency in
    Node.js empowers me to develop robust back-end services. Additionally, my knowledge of PHP extends my capabilities
    in back-end development, enabling me to work seamlessly with various databases and server-side technologies.</p>
  <p>I am currently immersed in the PEAN stack (PostgreSQL, Express Framework, Angular, and NodeJS), and I am also open
    to learning and exploring other technology stacks.</p>
</div>

<div class="link mt-4 fit-width" routerLink="/about">
  <label class="me-3">See More About Me <i
      class="fa-solid fa-arrow-right fa-beat-fade fa-lg animated-arrow"></i></label>
</div>