@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  text-align:center;
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color:#555;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}
.title {
  overflow: hidden;
}

h1 {
  display: inline-block;
}

div.title {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

.greetings{
  animation: showup 7s infinite;
}

.name {
  width: 0;
  animation: reveal 7s infinite;
}

span:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@media screen and (max-width: 956px) {
  h1 {
    font-size: calc(38px - 5px);
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: calc(38px - 10px);
  }
}